@charset 'UTF-8';
.wrapper {
    overflow: hidden;
}
.nav {
    background: #c8c8c8;
}
.nav_inner {
    background: #333;
    color: #fff;
    width: 100px;
}
.main {
   background-color: #a4a4a4; 
}
.home_content {
    overflow: auto;
}
.f_search {
    text-align: center;
    padding: 20px;
    border-bottom: 3px solid #000;
}

.home_my_profile {
    border-bottom: 3px solid #000;
}

.home_my_profile_inner {
    border: 3px solid #000; 
}

.home_f_profile {
    border-bottom: 3px solid #000;
    text-align: center;
}

.home_g_profile {
    text-align: center;
}

.option_box {
    background: #a3d4f4;
}

/*
友達検索エリア
*/
